[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.booproj
*.pidb
*.suo
*.user
*.userprefs
*.unitypackage
*.apk
*.aab
*.exe
*.app
*.ipa
*.dmg
*.zip
*.tar.gz
.vscode/
.idea/
*.csproj
*.sln
*.unityproj
*.dotSettings
.DS_Store
Thumbs.db